.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}


.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  height: 100%;
  overflow: scroll;
}

.firstcard{
  border: 1px solid green;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.m-bottom{
  margin-bottom: 20px;
}


